<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h2>Verify</h2>
        <p>We have sent a 4-digit verification <br>
          code to 'Mobile Number'.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="code">Verification Code</label>
            <input type="text"
                  class="form-control"
                  id="code"
                  formControlName=code>    
          </div>

          <div style="text-align: center;">
            <p>{{counter | formatTime}}</p>
          </div>
            <button [disabled]="!form.valid" type="submit" class="btn btn-bwm">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>